.header {
  background-color: rgb(0,59,100);
  width: 100%;
  font-size: 32px;
  color: white;
  height: 150px;
}

.cart-icon {
  display: inline;
  padding: 48px;
  position: relative;
  float: right;
}

.cart-badge {
  background: rgba(255,255,0,0.75);
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 50%;
  position:absolute;
  top: 15px;
  right: 60px;
  padding:5px;
}
