<header class="header">
  <nav class="navbar navbar-light bg-faded">
    <div>
      <img src='../../assets/BuyMoreLogo.png'>
      <a routerLink='/catalog' RouterLinkActive='active'> Shop </a>
      <a routerLink='/cart' routerLinkActive="active">
        <div class='cart-icon'>
          <span class='cart-badge'>
            {{cartCount}}
          </span>
          <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
        </div>
      </a>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
