<div class='cart'>
  <h2> Shopping Cart</h2>

  <table class='table table-sm table-bordered'>
    <thead>
      <tr>
        <th class='col-xs-5'>Image</th>
        <th class='col-xs-3'>Product</th>
        <th class='col-xs-2'>Price</th>
        <th class='col-xs-2'>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of cart.getCartEntries();">
        <td> <img class='product-image' src={{entry.product.image}} /> </td>
        <td>
          <div class='product-info'>
            <div class='product-name'>
              <h4>{{entry.product.title}}</h4>
              {{entry.product.description}}
            </div>
            <div>
              <i class="fa fa-check" aria-hidden="true"></i>
              Available online only
            </div>
          </div>
        </td>
        <td> <div class='product-price'>
          <h4>{{entry.product.price | currency:'CAD':true:'1.2-2'}}</h4>
        </div> </td>
        <td>
          <div class='input-group'>
            <input type="text" class="form-control" [(ngModel)]="entry.quantity">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" (click)="updateQuantity(entry.product, entry.quantity)">Update</button>
            </span>
          </div>
        </tr>
      </tbody>
    </table>

    <span class='checkout-container'>
      <h2> Subtotal ( {{cart.itemCount()}} items): {{cart.getTotalPrice() | currency:'CAD':true:'1.2-2'}}</h2>
      <button class='btn checkout-button' (click)='checkout()'> Checkout </button>
    </span>

  </div>
  <router-outlet></router-outlet>
