<div class="catalog container-fluid">
  <div class="row">
    <div *ngFor="let product of products; let i = index;">
      <div class="clearfix" *ngIf="i % 6 == 0"></div>
      <div class="product col-xs-12 col-sm-6 col-md-4 col-xl-2" >
        <div class='product-image-container'>
          <img class='product-image' src={{product.image}} align="center" (click)="onSelect(product)" />
        </div>
        <div class='product-info'>
          <div class='product-price'>
            <h4>{{product.price| currency:'CAD':true:'1.2-2'}}</h4>
          </div>
          <div class='product-name' (click)="onSelect(product)">
            <h4>{{product.title}}</h4>
          </div>
          <div>
            <i class="fa fa-check" aria-hidden="true"></i>
            Available online only
          </div>
          <button class='cart-button' (click)="addToCart(product)"> Add To Cart </button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
