.row .catalog {
  height: 100%;
}

.product-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.product-info {
  text-align: center;
}

.product-price {
  color: red;
}

.product-name {
  color: rgb(0,59,100);
}

.fa-check {
  color: green
}

.product {
  border: 1px dashed black;
  box-sizing: border-box;
}
