<div class='product-container container-fluid' *ngIf="product">
  <div class="row">

    <div class='product-image-container col-xs-8'>
      <img class='product-image' src={{product.image}} align="center" />
    </div>

    <div class='product-info-container col-xs-4'>
      <div class='product-info'>
        <div class='product-price'>
          <h4>{{product.price| currency:'CAD':true:'1.2-2'}}</h4>
        </div>
        <div class='product-name' (click)="onSelect(hero)">
          <h4>{{product.title}}</h4>
          {{product.description}}
        </div>
        <div>
          <i class="fa fa-check" aria-hidden="true"></i>
          Available online only
        </div>
      </div>
    </div>
  </div>
</div>
