.product-container {
  height: 400px;
}

.product-info-container {
  position: relative;
  height: 400px;
}

.product-info {
  position: absolute;;
  top: 50%;
  transform: translate(0, -50%);
  padding: 15px;
}
